{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Une erreur est survenue !</h1>
{% endblock %}

{% block body %}
    <p>Une erreur est survenue, le serveur n'a pas pu répondre correctement à votre requête.</p>
{% endblock %}
